:root{
	--primary-color: red;
	--link-color: #0079ff;
	--success-color:#25ff3a;
	--border-color: #d4d4d4;
}
body{
	//required for react-motion-drawer
	overflow: hidden;
	margin: 0;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	[role=button]{
		cursor: pointer;
	}
	h1,h2,h3,h4,p{
		font-weight: 100;
		margin:0;
	}
	button{
	    height: 40px;
	    text-align: center;
	    width: 100%;
	    background:  var(--success-color, deepskyblue);
	    color:black;
	    border:none;
	}
	form {
		margin: 10px auto;
		padding: 0;
		& >*{
			border:0;
		    border-bottom: 1px solid #bdbdbd;
			width: 100%;
			margin: 5px 0;
			height: 30px;
			text-align: center;
			background:none;
		}
	}
}
.show{
	opacity: 1;
    -webkit-transition:opacity 0.4s ease-out;
	   -moz-transition:opacity 0.4s ease-out;
		 -o-transition:opacity 0.4s ease-out;
	 		transition:opacity 0.4s ease-out;	
}
.hide{
	opacity: 0;
}
/* LAYOUTS */
.app{
	position: relative;
	display: inline-flex;
    flex-direction: row;
    width: 100%;
	.main{
		text-align: center;
	    width: 100%;
    	margin: 0 auto;
    	padding-top: 30px;
    	height: 100%;
    	overflow: auto;
		max-height: 100vh;
	}
}


/* COMPONENTS */
.post {
	text-align: left;
    position: relative;
    margin: 1px;
    z-index: 0;
    padding: 18px;
    background: #fff;
    // border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color:#001d2f;
    // color: var(--primary-color);
    &:hover{
    	background:rgba(230, 230, 230, 0.1);
    }
}
.searchField{
	width:50%;
	text-align:center;
	margin:50px 0 50px 0;
}
.npUl{
	.blip{
		display: inline-block;
	    margin: 5px;
	    border-radius: 8px;
	    border: solid 1px #bfbfbf;
	    background: white;
	    font-weight: 400;
	    outline:none;
	    font-size:14px;
	    p {
		    margin: 8px;
	    }
	    &:hover, &.selected{
	    	// specific for domain app
    		color: #0079ff;
    		border-color:#1DA1F2;
    		// regular
	    	// border-color:#1DA1F2;
	    	// color:#1DA1F2;
	    }
	}	
}
/* Responsive */
.card{
    border-radius: 5px;
    background: white;
    padding: 10px;
    border: 1px solid var(--border-color);
    &:hover{
    	box-shadow:#4db8fa 0px 1px 1px 0px;
    }
}
.tweet{
	padding:10px;
	text-align: left;
	.author{
		top:0;
		height:30px;
		width: 100%;
		border-bottom:1px solid var(--border-color);
		& >*{
			display: inline-block;
			padding:0px 3px 0px 3px;
			max-height: 30px;
    		overflow: hidden;
		}
		.userName{
			font-size: 16px;
			font-weight: 400;
		}
		.userHandle{
			font-size: 12px;
			color:var(--link-color);
		}
	}
	.content{
		padding:3px;
	}
}
/* UI GLOBALS */
.subaction{
	font-size: 10px;
	color: var(--link-color, #1da1f2);
	padding:0 7px;
    &:hover{
    	text-decoration: underline;
    }
}
.hyperlink{
	margin-top: 30px;
    color: var(--link-color, #1da1f2);
    &:hover{
    	text-decoration: underline;
    }
}
.welcomeText {
	color:grey;
	font-weight: 100;
}


