body{
	//required for react-motion-drawer
	overflow: hidden;
}
/* LAYOUTS */
#app-container {
	
}
#feed-container {
    width: 400px;
    position: fixed;
    height: 100vh;
    overflow: auto;
    right: 0;
    top: 0;
    padding-top:60px;
}


/* COMPONENTS */
.feed-container{
	margin:1px;
	position: relative;
	z-index: 0;
}
.post {
	text-align: left;
    position: relative;
    margin: 1px;
    z-index: 0;
    padding: 15px;
    background: #fff;
    // border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color:#001d2f;
    &:hover{
    	background:rgba(230, 230, 230, 0.1);
    }
}
.npUl{
	.blip{
		display: inline-block;
	    margin: 5px;
	    border-radius: 8px;
	    border: solid 1px #bfbfbf;
	    background: white;
	    font-weight: 100;
	    p {
		    margin: 8px;
	    }
	    &:hover{
	    	border-color:#1DA1F2;
	    }
	}	
}

/* UI GLOBALS */
body {
	font-family: 'Roboto', sans-serif;
}
.np-title{
	padding:5px 15px;
	position: fixed;
	top: 0;
	height: 50px;
	z-index: 10;
	width: 100%;
	background:#fbfbfb;
	border-bottom: 0;
	p {
		position: inherit;
	}
}
.np-border{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.btn {
    font: inherit;
    bottom: 16px;
    width: 70px;
    padding: 4px 15px;
    border-radius: 3px;
    transition: background .2s;
    border: 1px solid #03a9f4;
    &.yes {
    	background-color: #03a9f4;
    	color:white;
    }
}
