:root{
	--primary-color: red;
	--link-color: #0079ff;
	--success-color:#25ff3a;
}
body{
	//required for react-motion-drawer
	overflow: hidden;
	margin: 0;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
	[role=button]{
		cursor: pointer;
	}
	h1,h2,h3,h4,p{
		font-weight: 100;
	}
	button{
	    height: 40px;
	    text-align: center;
	    width: 100%;
	    background:  var(--success-color, deepskyblue);
	    color:black;
	    border:none;
	}
	form {
		margin: 10px auto;
		padding: 0;
		& >*{
			border:0;
		    border-bottom: 1px solid #bdbdbd;
			width: 100%;
			margin: 5px 0;
			height: 30px;
			text-align: center;
			background:none;
		}
	}
}
.show{
	opacity: 1;
    -webkit-transition:opacity 0.4s ease-out;
	   -moz-transition:opacity 0.4s ease-out;
		 -o-transition:opacity 0.4s ease-out;
	 		transition:opacity 0.4s ease-out;	
}
.hide{
	opacity: 0;
}
/* LAYOUTS */
.app{
	position: relative;
	display: inline-flex;
    flex-direction: row;
    width: 100%;
	.main{
		text-align: center;
	    width: 90%;
    	margin: 0 auto;
    	padding-top: 30px;
    	height: 100%;
    	overflow: auto;
		max-height: 100vh;
	}
	.side{
		height: 100vh;
		z-index: 1000;
		display: flex;
		flex-direction:column;
		.menuContainer{
			height:  100vh;
			border-top:none;
			border-bottom:none;
			position: fixed;
			display: flex;
		    flex-direction:row;
			.menu{
			    background: white;
			    width: inherit;
			    position: fixed;
			    overflow: auto;
			   	-webkit-transition:all 0.15s ease-out;
				   -moz-transition:all 0.15s ease-out;
					 -o-transition:all 0.15s ease-out;
				 		transition:all 0.15s ease-out;	
			}
		    .menuPlaceholder{
		    	border-left:1px solid #c5c3c3;
		    	border-right:1px solid #c5c3c3;
		    	text-align: center;
		    }
			.menuOverlay{
			    width: 100%;
			    height: 100%;
			    position: fixed;
			    background: black;
			    opacity: 0.6;
			    top: 0;
			    left:0;
				right:0;
			    z-index: -1;
			}
		}
	}	
}


/* COMPONENTS */
.post {
	text-align: left;
    position: relative;
    margin: 1px;
    z-index: 0;
    padding: 18px;
    background: #fff;
    // border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color:#001d2f;
    // color: var(--primary-color);
    &:hover{
    	background:rgba(230, 230, 230, 0.1);
    }
}
.npUl{
	.blip{
		display: inline-block;
	    margin: 5px;
	    border-radius: 8px;
	    border: solid 1px #bfbfbf;
	    background: white;
	    font-weight: 400;
	    outline:none;
	    font-size:14px;
	    p {
		    margin: 8px;
	    }
	    &:hover, &.selected{
	    	// specific for domain app
    		color: #0079ff;
    		border-color:#1DA1F2;
    		// regular
	    	// border-color:#1DA1F2;
	    	// color:#1DA1F2;
	    }
	}	
}
/* Responsive */
.card{
    border-radius: 5px;
    background: white;
    padding: 10px;
    border: 1px solid #d4d4d4;
}

/* UI GLOBALS */
.subaction{
	font-size: 10px;
	color: var(--link-color, #1da1f2);
	padding:0 7px;
    &:hover{
    	text-decoration: underline;
    }
}
.hyperlink{
	margin-top: 30px;
    color: var(--link-color, #1da1f2);
    &:hover{
    	text-decoration: underline;
    }
}
.welcomeText {
	color:grey;
	font-weight: 100;
}


